@model Aiursoft.API.Models.UserViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}
<div class="lock-wrapper">
    <div class="panel lock-box" id="panelinSignin">
        <h4>@Localizer["Hello User !"]</h4>
        <p class="text-center">@Localizer["Type your new password to change."]</p>
        <div class="row">
            <div class="form-inline">
                <form class="form-group col-md-12" asp-controller="OAuth" asp-action="Authorize" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="Code" type="hidden" />
                    <div class="iconic-input right">
                        <label asp-for="Email" class="text-muted"></label>
                        <input type="email" asp-for="Email" class="form-control" placeholder="@Localizer["Enter your account"]">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="iconic-input right">
                        <label asp-for="Password" class="text-muted">@Localizer["New Password"]</label>
                        <input class="form-control lock-input" type="password" asp-for="Password" placeholder="@Localizer["New Password"]">
                        <i class="fa fa-lock"></i>
                    </div>
                    <div class="iconic-input right">
                        <label asp-for="ConfirmPassword" class="text-muted">@Localizer["Confirm Password"]</label>
                        <input class="form-control lock-input" type="password" asp-for="ConfirmPassword" placeholder="@Localizer["New Password"]">
                        <i class="fa fa-lock"></i>
                    </div>
                    <button class="btn btn-block btn-primary" type="submit">Reset</button>
                </form>
            </div>
        </div>
    </div>
</div>